[submodule "lib"]
	path = lib
	url = https://github.com/martinthomson/i-d-template
[submodule "2024-03-20-ietf119/shared"]
	path = presentations/2024-03-20-ietf119/shared
	url = https://codeberg.org/chrysn/presentation-shared
[submodule "2024-07-24-ietf120/shared"]
	path = presentations/2024-07-24-ietf120/shared
	url = https://codeberg.org/chrysn/presentation-shared
[submodule "presentations/2024-11-05-ietf121/shared"]
	path = presentations/2024-11-05-ietf121/shared
	url = https://codeberg.org/chrysn/presentation-shared
[submodule "presentations/2024-12-18-interim/shared"]
	path = presentations/2024-12-18-interim/shared
	url = https://codeberg.org/chrysn/presentation-shared
[submodule "presentations/2025-03-18-ietf122/shared"]
	path = presentations/2025-03-18-ietf122/shared
	url = https://codeberg.org/chrysn/presentation-shared
